[submodule "haveclip-core"]
	path = haveclip-core
	url = http://git.havefun.cz/haveclip/haveclip-core.git

[submodule "quickandroid"]
	path = quickandroid
	url = https://github.com/benlau/quickandroid.git
